{% load static %}
<!DOCTYPE html,style="height:100%">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>各型客货车通行量占比图</title>
    <script type="text/javascript" src="{% static 'echarts.js' %}"></script>
    <script src="{% static 'china.js' %}"></script>
</head>
<body style="height:100%;margin:0">
    <div style="height:47%;width:100%">
        <div id="chart1" style="width:33%;height:100%;float:left"></div>
        <div id="chart2" style="width:34%;height:100%;float:left"></div>
        <div id="chart3" style="width:33%;height:100%;float:left"></div>
    </div>
    <div style="height:3%">
        <button type="button" id="btn" onclick="fun()" style="height:100%;margin-left:5px" value=0 >折线图</button>
    </div>
    <div id="chart4" style="width:100%;height:50%"></div>
</body>
<script type="text/javascript">
    var tp = "" ;
    var typ = {{ tp|safe }} ;
    if({{ tp|safe }} == 0)
        tp = "折线图" ;
    else
        tp = "饼状图" ;
    function fun(){
        //alert("1");
        var btn = document.getElementById("btn") ;
        if(tp == "折线图")
        {
            tp = "饼状图";
            typ = 1 ;
            myChart4 = echarts.init(document.getElementById('chart4')) ;
            myChart4.setOption(options2) ;
        }
        else
        {
            tp = "折线图";
            typ = 0 ;
            myChart4 = echarts.init(document.getElementById('chart4'));
            myChart4.setOption(options1) ;
        }
        btn.innerHTML = tp ;
       // location.href="../../../../"+{{ pro1|safe }}+"/"+{{ pro2|safe }}+"/"+{{ pro3|safe }}+"/"+btn.value ;
       // alert(tp) ;
        }
    var dat = {{ cardtrans|safe }} ;
    /*   var min = data[0]['value'] ;
       var max = data[0]['value'] ;
       for(var i = 1 ; i < data.length ; i++)
       {
           if(data[i]['value']<min)
               min = data[i]['value'] ;
           if(data[i]['value']>max)
               max = data[i]['value'] ;
       }*/
    for(var i = 0 ; i < dat.length ; i++)
    {
        for(var j = 0 ; j < dat.length - i-1 ; j++ )
        {
            if(dat[j]['value']<dat[j+1]['value'])
            {
                var tmp = dat[j] ;
                dat[j] = dat[j+1] ;
                dat[j+1] = tmp ;
            }
        }
    }
    var min = dat[dat.length-1]['value'] ;
    var max = dat[0]['value'] ;
    
 //   var max = 0 ;
 //   var min = 0 ;
    dom = document.getElementById("chart1");
    var myChart1 = echarts.init(dom);
    option = null;

    option = {
        animation: true,
        animationDuration: 1000,
        animationEasing: 'cubicInOut',
        animationDurationUpdate: 1000,
        animationEasingUpdate: 'cubicInOut',

        tooltip : {
            trigger: 'item'
        },
        visualMap: {
            show: false,
            left: 'right',
            min: min,
            max: max,
            inRange: {
                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
            },
            text: ['High', 'Low'],           // 文本，默认为数值文本
            calculable: true
        },
        series : [
          {
              name:"全国入口收费站货车通过重量分布图",
              type: 'map',
              roam: false,
              map: 'china',
              left: '10' ,
              top:'0',
              right: '10',
              bottom:'10',
              zoom: 0.9,
              itemStyle: {
                  emphasis: { label: { show: true } }
              },
              data: dat,
              // 文本位置修正
            
          },
        ]
    };
  
    if (option && typeof option === "object") {
        myChart1.setOption(option, true);
    }
       myChart1.on('click', function (param) {
        var name = param.name;
        if(name!="西藏"&&name!="海南"&&name!="台湾")
            //alert("../../../../../truckheavycount/"+name+"/"+{{ tp|safe }}+"/"+{{ st|safe }}+"/"+{{ ed|safe }}) ;
            location.href="../../../../"+name+"/"+{{ pro2|safe }}+"/"+{{ pro3|safe }}+ "/"+typ;
    })
    


    dom = document.getElementById("chart2");
    var myChart2 = echarts.init(dom);
    option = null;

    option = {
        animation: true,
        animationDuration: 1000,
        animationEasing: 'cubicInOut',
        animationDurationUpdate: 1000,
        animationEasingUpdate: 'cubicInOut',

        tooltip : {
            trigger: 'item'
        },
        visualMap: {
            show:false,
            left: 'right',
            min: min,
            max: max,
            inRange: {
                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
            },
            text: ['High', 'Low'],           // 文本，默认为数值文本
            calculable: true
        },
        series : [
          {
              name:"全国入口收费站货车通过重量分布图",
              type: 'map',
              roam: false,
              map: 'china',
              left: '10' ,
              top:'0',
              right: '10',
              bottom:'10',
              zoom: 0.9,
              itemStyle: {
                  emphasis: { label: { show: true } }
              },
              data: dat,
              // 文本位置修正
            
          },
        ]
    };
  
    if (option && typeof option === "object") {
        myChart2.setOption(option, true);
    }
    myChart2.on('click', function (param) {
        var name = param.name;
        if(name!="西藏"&&name!="海南"&&name!="台湾")
            //alert("../../../../../truckheavycount/"+name+"/"+{{ tp|safe }}+"/"+{{ st|safe }}+"/"+{{ ed|safe }}) ;
            location.href="../../../../"+{{ pro1|safe }}+"/"+name+"/"+{{ pro3|safe }}+"/"+typ ;
    })


    dom = document.getElementById("chart3");
    var myChart3 = echarts.init(dom);
    option = null;

    option = {
        animation: true,
        animationDuration: 1000,
        animationEasing: 'cubicInOut',
        animationDurationUpdate: 1000,
        animationEasingUpdate: 'cubicInOut',

        tooltip : {
            trigger: 'item'
        },
        visualMap: {
            show:false,
            left: 'right',
            min: min,
            max: max,
            inRange: {
                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
            },
            text: ['High', 'Low'],           // 文本，默认为数值文本
            calculable: true
        },
        series : [
          {
              name:"全国入口收费站货车通过重量分布图",
              type: 'map',
              roam: false,
              map: 'china',
              left: '10' ,
              top:'0',
              right: '10',
              bottom:'10',
              zoom: 0.9,
              itemStyle: {
                  emphasis: { label: { show: true } }
              },
               data: dat,
              // 文本位置修正
            
          },
        ]
    };
   // alert({{ fee|safe }}) ;
    if (option && typeof option === "object") {
        myChart3.setOption(option, true);
    }

    myChart3.on('click', function (param) {
        var name = param.name;
        if(name!="西藏"&&name!="海南"&&name!="台湾")
            //alert("../../../../../truckheavycount/"+name+"/"+{{ tp|safe }}+"/"+{{ st|safe }}+"/"+{{ ed|safe }}) ;
            location.href="../../../../"+{{ pro1|safe }}+"/"+{{ pro2|safe }}+"/"+name+"/"+typ ;
    })
    // 初始化图表标签
    var myChart4 = echarts.init(document.getElementById('chart4'));
    var options1={
        title : [{
            text: {{ pro1|safe }}+'通行卡周转周期分布饼状图',
                subtext: '2018',
                left:'12%',
            },{
                text: {{ pro2|safe }}+'通行卡周转周期分布饼状图',
            subtext: '2018',
            x:'center'
        },{
            text: {{ pro3|safe }}+'通行卡周转周期分布饼状图',
            subtext: '2018',
            right:'12%',
        }

    ],
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c}张 ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['1天','2天','3天','4-7天','>7天']
    },
    series : [
        {
            name: '周转周期分布',
            type: 'pie',
            radius : '55%',
            center: ['20%', '60%'],
            data:{{ data11|safe }},
                    itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }, {
            name: '周转周期分布',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: {{ data12|safe }} ,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }, {
            name: '周转周期分布',
            type: 'pie',
            radius: '55%',
            center: ['80%', '60%'],
            data: {{ data13|safe }},
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
    ]
    };
    var options2={
        title : [{
            text: {{ pro1|safe }}+'通行卡周转周期分布折线图',
            subtext: '2018',
            left:'12%',
        },{
            text: {{ pro2|safe }}+'通行卡周转周期分布折线图',
            subtext: '2018',
            x:'center'
        },{
            text: {{ pro3|safe }}+'通行卡周转周期分布折线图',
            subtext: '2018',
            right:'12%',
        }

        ],
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c}张 ({d}%)"
        },
        grid: [
        {left:"5%", top:"8%", width: '24%', height: '75%'},
        {left:"37.5%", top:"8%", width: '24%', height: '75%'},
        {left:'70%', top:"8%", width: '24%', height: '75%'},
        ],
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['1天','2天','3天','4-7天','>7天']
        },
        dataZoom: [{
            type: 'inside',
            xAxisIndex:0,
        }, {
        type: 'slider',
        xAxisIndex:0,
        },
        {
            type: 'inside',
            xAxisIndex:1,
        }, {
            type: 'slider',
            xAxisIndex:1,
        },
        {
            type: 'inside',
            xAxisIndex:2,
        }, {
            type: 'slider',
            xAxisIndex:2,
        }
        ],
        xAxis: [
        {
            gridIndex: 0,
            data:{{ dAxis1|safe }},
        },
        {
            gridIndex: 1,
            data:{{ dAxis2|safe }},
        },
        {
            gridIndex: 2,
            data: {{ dAxis3|safe }},
        },
        ],
        yAxis: [
            {gridIndex: 0},
            {gridIndex: 1},
            {gridIndex: 2},
        ],
        series : [
       /*     {
                name: '周转周期分布',
                type: 'pie',
                radius : '55%',
                center: ['20%', '60%'],
                data:{{ data1|safe }},
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }, {
                name: '周转周期分布',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: {{ data2|safe }} ,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }, {
                name: '周转周期分布',
                type: 'pie',
                radius: '55%',
                center: ['80%', '60%'],
                data: {{ data3|safe }},
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }*/
            {
                name: '卡数量',
                type: 'line',
                xAxisIndex:0,
                yAxisIndex:0,
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                    }
                },
                lineStyle: {
                    normal: {
                        width: 3,
                        //      shadowColor: 'rgba(0,0,0,0.4)',
                        //     shadowBlur: 10,
                        //   shadowOffsetY: 10
                    }
                },
                data: {{ data21|safe }}, 
            },
            {
                name: '卡数量',
                type: 'line',
                xAxisIndex:1,
                yAxisIndex:1,
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                    }
                },
                lineStyle: {
                    normal: {
                        width: 3,
                        //      shadowColor: 'rgba(0,0,0,0.4)',
                        //     shadowBlur: 10,
                        //   shadowOffsetY: 10
                    }
                },
                data: {{ data22|safe }}, 
            },
            {
                name: '卡数量',
                type: 'line',
                xAxisIndex:2,
                yAxisIndex:2,
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                    }
                },
                lineStyle: {
                    normal: {
                        width: 3,
                        //      shadowColor: 'rgba(0,0,0,0.4)',
                        //     shadowBlur: 10,
                        //   shadowOffsetY: 10
                    }
                },
                data: {{ data23|safe }}, 
            }
        ]
    };
    if({{ tp|safe }} == 0)
        myChart4.setOption(options1);
    else
        myChart4.setOption(options2) ;
</script>
</html>
