{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>     
       <script type="text/javascript" src= "{% static 'echarts.js' %}"></script>
       <script src="{% static 'guizhou.js' %}"></script>      
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
option = null;

var geoCoordMap = {
		"大龙主道站":[109.051,27.2964],
"玉屏站":[108.901,27.2297],
"岑巩站":[108.812,27.1814],
"青溪站":[108.76,27.1247],
"三穗站":[108.671,26.9556],
"台烈站":[108.614,26.8646],
"岑松站":[108.576,26.7986],
"剑河站":[108.48,26.7337],
"台江站":[108.319,26.6594],
"铜仁南站":[109.156,27.6799],
"万山站":[109.142,27.5224],
"七里冲站":[109.027,27.3591],
"大龙匝道站(铜大)":[109.042,27.3034],
"铜仁大兴站":[109.308,27.9046],
"松桃苗王城站":[109.3,27.8987],
"铜仁北站":[109.232,27.8061],
"坝盘站":[108.944,27.7145],
"江口站":[108.848,27.7134],
"梵净山东站":[108.774,27.7621],
"梵净山西站":[108.573,27.8144],
"印江站":[108.386,27.979],
"思南东站":[108.267,27.9571],
"温泉站":[108.152,28.0506],
"煎茶站":[107.948,28.1196],
"花坪站":[107.779,28.0107],
"凤岗站":[107.711,27.9277],
"永兴站":[107.62,27.8775],
"湄潭站":[107.418,27.7427],
"虾子站":[107.212,27.6613],
"深溪站":[106.971,27.6038],
"松坎主线站":[106.84,28.4988],
"三元站(崇)":[106.711,26.8122],
"三元站(崇)":[106.835,28.4907],
"太白站":[106.858,28.3829],
"楚米站":[106.834,28.1922],
"桐梓站":[106.83,28.1128],
"观坝站":[106.914,27.93],
"遵义北站":[106.92,27.7518],
"遵义站":[106.904,27.7101],
"思南西站":[108.224,27.9338],
"思南南站":[108.266,27.8826],
"塘头站":[108.238,27.7254],
"石阡北站":[108.228,27.5891],
"石阡站":[108.216,27.5087],
"大地站":[108.221,27.3486],
"羊场站":[108.29,27.2114],
"镇远南站":[108.397,27.0256],
"金堡站":[108.453,26.9407],
"枫香站":[106.543,27.5983],
"平正站":[106.472,27.6425],
"坛厂站":[106.421,27.734],
"仁怀南站":[106.394,27.7784],
"茅台站":[106.389,27.7859],
"贵龙站":[106.924,26.4375],
"贵定南站":[107.188,26.3328],
"都匀西站":[107.441,26.2773],
"秦棋站":[106.779,26.4993],
"凯里东站":[108.041,26.5685],
"凯里西站":[107.941,26.5496],
"下司站":[107.433,25.4652],
"下司站":[107.798,26.5229],
"麻江站":[107.596,26.5026],
"黎平北站":[109.141,26.2961],
"黎平南站":[109.112,26.1987],
"中潮站":[109.171,26.0968],
"永从站":[109.141,26.0039],
"都匀东站":[107.599,26.1791],
"三都站":[107.879,26.0836],
"榕江站":[108.5,25.9005],
"往洞站":[108.688,25.8787],
"从江北站":[108.85,25.8922],
"双江站":[108.926,25.9353],
"从江东站":[109.101,25.909],
"水口站":[109.301,25.9053],
"遵义南站":[106.888,27.6336],
"马家湾站":[106.863,27.579],
"南白站（旧）":[106.84,27.5392],
"三合站":[106.773,27.4188],
"乌江站":[106.778,27.2853],
"小寨坝站":[106.734,27.1832],
"息烽站":[106.711,27.088],
"久长站":[106.692,26.9247],
"扎佐站":[106.712,26.8642],
"三元站":[106.711,26.8122],
"三元站":[106.835,28.4907],
"沙文站":[106.695,26.728],
"贵阳北主线站":[106.672,26.6754],
"修文站":[106.692,26.8665],
"修文站":[106.703,26.8637],
"鸭溪站":[106.671,27.5865],
"泮水站":[106.377,27.5188],
"金沙站":[106.249,27.4963],
"金沙西站":[106.091,27.3859],
"雨冲站":[105.997,27.3413],
"百里杜鹃站":[105.818,27.2597],
"大方站":[105.605,27.1972],
"响水站":[105.52,27.2341],
"双山站":[105.371,27.2604],
"马蹄站":[106.511,27.5372],
"凤山站":[105.691,27.2087],
"绥阳站":[107.154,27.9541],
"牛心站":[107.128,27.9156],
"蒲场站":[107.079,27.8886],
"四面山站":[107.009,27.8293],
"李子垭站":[106.958,27.7827],
"清镇站":[106.463,26.5444],
"清镇站":[106.454,26.5382],
"夏云站":[106.332,26.476],
"平坝站":[106.244,26.4035],
"天龙站":[106.168,26.3715],
"安顺东站":[106.002,26.2633],
"安顺南站":[105.953,26.2253],
"安顺西站":[105.833,26.1371],
"贵阳西主线站":[106.592,26.5942],
"清镇东站":[106.494,26.5517],
"魏旗站":[105.824,26.263],
"幺铺站":[105.85,26.1939],
"龙里站":[106.984,26.4581],
"盘江站":[107.165,26.4994],
"贵定站":[107.235,26.5677],
"黄丝站":[107.407,26.5807],
"马场坪站":[107.52,26.6236],
"都匀北站":[107.509,26.3141],
"都匀南站":[107.498,26.202],
"墨冲站":[107.464,26.0472],
"独山站":[107.549,25.855],
"上司站":[107.492,25.6078],
"下司站":[107.433,25.4652],
"下司站":[107.798,26.5229],
"麻尾站":[107.447,25.3474],
"新寨主线站":[107.429,25.312],
"中铁生态城站":[106.847,26.4968],
"龙里西站":[106.873,26.4885],
"普定主线站":[105.752,26.3223],
"白岩站":[105.875,26.3009],
"蔡官站":[105.966,26.313],
"金碧站":[105.973,26.9498],
"沙井站":[105.936,26.8439],
"织金洞西站":[105.866,26.7887],
"毕节西站":[105.304,27.2349],
"长春堡站":[105.199,27.2409],
"撒拉溪站":[105.046,27.2123],
"杨家湾站":[104.951,27.1631],
"野马川站":[104.87,27.1319],
"赫章站":[104.734,27.1274],
"水塘站":[104.607,27.0758],
"阿维寨站":[104.492,27.0034],
"杨家洼站":[104.377,26.9679],
"新蒲站":[107.093,27.7085],
"团泽站":[107.077,27.7854],
"镇宁站":[105.756,26.0658],
"黄果树站":[105.679,26.0153],
"关岭站":[105.595,25.9351],
"永宁站":[105.494,25.9016],
"岗乌站":[105.354,25.9249],
"晴隆站":[105.223,25.8584],
"沙子站":[105.15,25.7926],
"普安站":[104.97,25.7824],
"英武站":[104.835,25.7914],
"刘官站":[104.669,25.8184],
"两河站":[104.585,25.8042],
"红果北站":[104.48,25.7528],
"红果西站":[104.401,25.7147],
"平关站":[104.35,25.6638],
"胜境关主线站":[104.289,25.636],
"胜境关主线站":[104.321,25.6351],
"盘州站":[104.445,25.7289],
"秧寨站":[107.52,25.3692],
"小七孔站":[107.678,25.3022],
"金华主线站":[106.587,26.5781],
"林东站":[106.567,26.5718],
"东门桥站":[106.485,26.5532],
"板坝主线站":[105.532,24.8092],
"巧马站":[105.558,24.9093],
"安龙站":[105.38,25.0652],
"德卧站":[105.254,25.0879],
"鲁屯站":[105.11,25.1677],
"万屯站":[105.046,25.1993],
"兴义东站":[104.932,25.1419],
"兴义西站":[104.844,25.1241],
"乌沙站":[104.789,25.1406],
"岔江主线站":[104.706,25.0684],
"江西坡站":[105.087,25.7458],
"大厂站":[105.099,25.6128],
"潘家庄站":[105.136,25.5598],
"雨樟站":[105.099,25.352],
"长顺东站":[106.525,26.0334],
"长顺西站":[106.443,25.9926],
"摆所站":[106.339,25.9599],
"板当站":[106.233,25.8749],
"紫云站":[106.074,25.7483],
"乐纪站":[105.929,25.7133],
"乐运站":[105.863,25.5614],
"坝草站":[105.807,25.5046],
"百层站":[105.735,25.4635],
"贞丰站":[105.636,25.4127],
"龙场站":[105.509,25.4587],
"巴玲站":[105.369,25.4793],
"兴仁东站":[105.226,25.4501],
"兴仁北站":[105.186,25.4427],
"发耳站":[104.793,26.3102],
"营盘站":[104.732,26.1597],
"雨格站":[104.665,26.1023],
"鸡场坪站":[104.625,25.9728],
"滑石站":[104.6,25.9084],
"贵阳南主线站":[106.723,26.3852],
"青岩站":[106.708,26.3408],
"惠水北站":[106.699,26.2294],
"惠水站":[106.67,26.12],
"仁怀北站":[106.427,27.8423],
"银水站":[106.43,27.9407],
"大坝站":[106.411,28.0108],
"火石岗站":[106.423,28.0739],
"二郎站":[106.333,28.1771],
"习水站":[106.21,28.2986],
"马临站":[106.16,28.226],
"土城站":[105.989,28.2795],
"元厚站":[105.941,28.3609],
"旺隆站":[105.896,28.5027],
"新店站":[105.782,28.5483],
"赤水主线站":[105.753,28.5669],
"六枝东站":[105.504,26.1994],
"落别站":[105.586,26.1296],
"丁旗站":[105.688,26.1157],
"笋子林站":[106.782,26.5691],
"新添寨站":[106.763,26.6258],
"贵阳东主线站":[106.796,26.5149],
"曹关站":[106.618,26.6936],
"上麦站":[106.588,26.6289],
"王宽站":[106.695,26.4626],
"石板哨站":[106.616,26.4661],
"党武站":[106.606,26.3994],
"桐木岭站":[106.68,26.3756],
"孟关站":[106.749,26.4035],
"牛郎关站":[106.74,26.472],
"大学城站":[106.638,26.3687],
"天河潭站":[106.589,26.4434],
"瓮安南站":[107.459,27.022],
"平定营站":[107.43,26.9792],
"牛场站":[107.455,26.8953],
"福泉北站":[107.492,26.7753],
"福泉东站":[107.536,26.6925],
"福泉南站":[107.563,26.6314],
"黄板站":[109.105,28.2389],
"松桃北站":[109.171,28.1717],
"松桃南站":[109.183,28.1162],
"苗王城西站":[109.256,27.9888],
"惠水南站":[106.608,26.0264],
"断杉站":[106.572,25.8351],
"边阳站":[106.628,25.6462],
"罗甸北站":[106.669,25.5081],
"罗甸站":[106.729,25.4165],
"罗甸南站":[106.664,25.3483],
"林泉站":[105.873,27.0538],
"百里杜鹃西站(黄泥塘)":[105.764,27.1084],
"六龙站":[105.683,27.1747],
"黔西站":[105.995,27.0159],
"凯里黄平机场站":[107.917,26.5198],
"施秉站":[107.873,26.4438],
"余庆站":[107.823,26.2023],
"凯里北站":[107.906,26.6217],
"黄平南站":[107.894,26.8888],
"黄平北站":[107.894,26.9591],
"牛大场站":[107.923,27.143],
"余庆站":[107.882,27.2126],
"凯里黄平机场站":[107.984,26.9724],
"施秉站":[108.131,27.0133],
"海龙站":[106.824,27.7257],
"乐理站":[106.752,27.611],
"朱昌站":[105.316,27.1838],
"东关站":[105.247,27.0484],
"双水站":[104.968,26.5245],
"九洞天站":[105.264,26.9225],
"滥坝站":[105.065,26.5194],
"陡箐站":[105.162,26.4548],
"新场站":[105.252,26.3882],
"岩脚站":[105.395,26.3183],
"六枝西站":[105.43,26.2593],
"荔波东站":[107.874,25.3949],
"瓦寨站":[108.789,26.9278],
"款场站":[108.849,26.9335],
"桐林站":[109.033,26.9356],
"天柱站":[109.189,26.9307],
"高酿站":[109.171,26.8315],
"锦屏站":[109.186,26.6689],
"敦寨站":[109.264,26.5148],
"新化站":[109.161,26.4057],
"普翁站":[105.957,26.6658],
"织金洞南站":[105.867,26.7103],
"织金站":[105.833,26.7053],
"马场站":[106.078,26.6293],
"梨倭站":[106.268,26.6174],
"以那站":[105.704,26.7972],
"纳雍站":[105.41,26.801],
"老凹坝站":[105.543,26.8358],
"毕节北站":[105.394,27.357],
"燕子口站":[105.403,27.5302],
"林口站":[105.362,27.6308],
"生机主线站":[105.471,27.7628],
"闵孝镇站":[108.643,27.6875],
"沙子主线站":[105.15,25.7926],
"合兴站(沿德)":[108.049,28.0626],
"务川站":[107.876,28.5493],
"涪洋站":[107.694,28.4838],
"简家坪站":[107.511,28.5185],
"镇远西站":[108.366303,27.042449],
"高新中航黎阳站":[106.6556506,26.69928291],
"牛大场站":[105.225597,25.450024],
"重安站":[107.911895,26.757621],
"巴雍站":[105.222975,26.787673],
"以角站":[105.098576,26.684196],
"三岔河站":[105.0676496,26.63424135],
"老鹰山站":[105.0213652,26.53344483],
"13824":[104.908621,26.532495],
"玉舍站":[104.804759,26.482178],
"俄脚站":[104.788306,26.431819],
"毕节东站":[105.371223,27.260242],
"综保区站":[106.72167,26.683996],
"定扒站":[106.848422,26.687675],
"永乐站":[106.8499505,26.56824002],
"西江站":[108.1381311,26.48413077],
"黄里站":[108.140288,26.425076],
"雷山主线站":[108.112846,26.386703],
"百宜站":[106.963947,26.83521],
"龙岗站":[107.08848,26.897067],
"毛云站":[107.169745,26.981098],
"瓮安西站":[107.315469,27.04388],
"道真北站":[107.478652,28.909552],
"道真站":[107.478652,28.909552],
"正安北站":[107.45245,28.622992],
"正安站":[107.46194,28.54782],
"西河站":[107.4997699,28.13855937],
"湄潭东站":[107.519019,27.748912],
"瓮安北站":[107.468115,27.286385],
"龙塘坳站":[108.517408,27.599331],
"石阡南站":[108.243874,27.496206],
"佛顶山东站":[108.1530061,27.42310481],
"佛顶山西站":[107.989873,27.337341],
"余庆东站":[107.906572,27.241275],
"黄平纸房站":[107.736174,27.182193],
"猴场站":[107.583343,27.128145],
"瓮安站":[107.486953,27.111767],
"官舟站":[108.335032,28.545837],
"平塘东站":[107.334413,25.845051],
"盘州东站":[104.542827,25.768748],
"望谟西站":[106.0741879,25.18304737],
"岩架站":[105.940225,25.058934],
"册亨站":[105.771716,24.980386],
"丫他站":[105.649418,24.926876]
	};

var data = [
{name:"夏云站",value:139},
{name:"思南东站",value:299},
{name:"清镇站",value:499},
{name:"印江站",value:763},
{name:"天龙站",value:471},
{name:"梵净山西站",value:144},
{name:"平坝站",value:538},
{name:"安顺南站",value:942},
{name:"团泽站",value:22},
{name:"安顺东站",value:2851},
{name:"正安站",value:490},
{name:"新蒲站",value:511},
{name:"安顺西站",value:281},
{name:"正安北站",value:98},
{name:"三江站",value:21},
{name:"永从站",value:23},
{name:"贵龙站",value:384},
{name:"中潮站",value:136},
{name:"营盘站",value:130},
{name:"杨家洼站",value:5},
{name:"周家院主线站",value:601},
{name:"发耳站",value:369},
{name:"鸡场坪站",value:571},
{name:"水塘站",value:637},
{name:"阿维寨站",value:122},
{name:"雨格站",value:291},
{name:"燕子口站",value:53},
{name:"滑石站",value:154},
{name:"毕节东站",value:1489},
{name:"毕节北站",value:391},
{name:"泮水西站",value:19},
{name:"施秉站",value:308},
{name:"凯里黄平机场站",value:9},
{name:"林口站",value:85},
{name:"生机主线站",value:5412},
{name:"大龙主道站",value:8642},
{name:"中坪站",value:2},
{name:"李子垭站",value:276},
{name:"四面山站",value:92},
{name:"黄平南站",value:147},
{name:"沿河东站",value:224},
{name:"贵定南站",value:454},
{name:"沿河站",value:322},
{name:"黄平北站",value:189},
{name:"都匀西站",value:671},
{name:"官舟站",value:157},
{name:"牛大场站",value:30},
{name:"余庆站",value:389},
{name:"德江北站",value:83},
{name:"秦棋站",value:1285},
{name:"贵阳南主线站",value:244},
{name:"绥阳站",value:422},
{name:"凯里北站",value:216},
{name:"蒲场站",value:46},
{name:"沙子主线站",value:325},
{name:"重安站",value:73},
{name:"牛心站",value:108},
{name:"台江站",value:576},
{name:"剑河站",value:675},
{name:"东门桥站",value:650},
{name:"岑松站",value:184},
{name:"台烈站",value:76},
{name:"三穗站",value:849},
{name:"青溪站",value:483},
{name:"岑巩站",value:462},
{name:"玉屏站",value:674},
{name:"林东站",value:318},
{name:"金华主线站",value:1181},
{name:"港口站",value:30},
{name:"瓮安北站",value:39},
{name:"道真北站",value:104},
{name:"湄潭东站",value:191},
{name:"抄乐站",value:23},
{name:"龙家站",value:82},
{name:"道真站",value:233},
{name:"思南西站",value:320},
{name:"思南南站",value:81},
{name:"塘头站",value:197},
{name:"丫他站",value:73},
{name:"岩架站",value:71},
{name:"册亨站",value:365},
{name:"德江站",value:18},
{name:"品甸站",value:26},
{name:"清水河站",value:63},
{name:"板坝主线站",value:4613},
{name:"民主站",value:62},
{name:"敦寨站",value:38},
{name:"锦屏站",value:304},
{name:"大山站",value:158},
{name:"保田站",value:202},
{name:"安龙站",value:805},
{name:"高酿站",value:29},
{name:"巧马站",value:102},
{name:"天柱站",value:311},
{name:"普田站",value:13},
{name:"鲁屯站",value:86},
{name:"惠水南站",value:88},
{name:"德卧站",value:146},
{name:"盘州东站",value:147},
{name:"丹霞站",value:93},
{name:"新化站",value:99},
{name:"万屯站",value:665},
{name:"兴义西站",value:2999},
{name:"罗甸北站",value:25},
{name:"兴义东站",value:2747},
{name:"罗甸站",value:537},
{name:"岔江主线站",value:1348},
{name:"断杉站",value:65},
{name:"乌沙站",value:361},
{name:"边阳站",value:392},
{name:"花坪站",value:306},
{name:"煎茶站",value:608},
{name:"丁旗站",value:219},
{name:"温泉站",value:154},
{name:"六枝东站",value:1224},
{name:"落别站",value:48},
{name:"马场站",value:289},
{name:"织金站",value:912},
{name:"义龙西站",value:7},
{name:"罗甸南站",value:119},
{name:"织金洞南站",value:44},
{name:"普翁站",value:138},
{name:"罗妥站",value:5},
{name:"梨倭站",value:76},
{name:"王宽站",value:763},
{name:"龙场站",value:12},
{name:"上麦站",value:679},
{name:"综保区站",value:171},
{name:"纳雍站",value:680},
{name:"曹关站",value:1647},
{name:"老凹坝站",value:77},
{name:"定扒站",value:458},
{name:"从江东站",value:285},
{name:"水口站",value:100},
{name:"高新中航黎阳站",value:415},
{name:"深溪站",value:718},
{name:"虾子站",value:287},
{name:"湄潭站",value:1004},
{name:"永兴站",value:146},
{name:"凤岗站",value:1230},
{name:"都匀东站",value:141},
{name:"三都站",value:590},
{name:"榕江站",value:1104},
{name:"永乐站",value:160},
{name:"往洞站",value:53},
{name:"从江北站",value:101},
{name:"双江站",value:62},
{name:"六枝西站",value:205},
{name:"凯里南站",value:90},
{name:"新场站",value:96},
{name:"岩脚站",value:158},
{name:"普定主线站",value:869},
{name:"兴仁站",value:54},
{name:"丹寨站(凯羊)",value:474},
{name:"大寨站",value:9},
{name:"滥坝站",value:19},
{name:"陡箐站",value:97},
{name:"款场站",value:33},
{name:"桐林站",value:88},
{name:"瓦寨站",value:61},
{name:"两河口主线站",value:1135},
{name:"七里冲站",value:44},
{name:"万山站",value:108},
{name:"铜仁南站",value:660},
{name:"松桃南站",value:847},
{name:"望谟西站",value:631},
{name:"苗王城西站",value:87},
{name:"黄板站",value:3},
{name:"松桃北站",value:113},
{name:"海龙站",value:28},
{name:"习水站",value:1160},
{name:"两河站",value:297},
{name:"刘官站",value:727},
{name:"贵阳东主线站",value:7034},
{name:"大龙匝道站(铜大)",value:110},
{name:"元厚站",value:46},
{name:"红果西站",value:52},
{name:"红果北站",value:633},
{name:"旺隆站",value:41},
{name:"胜境关主线站",value:7069},
{name:"马临站",value:95},
{name:"白岩站",value:214},
{name:"百里杜鹃西站(黄泥塘)",value:24},
{name:"秧寨站",value:4},
{name:"土城站",value:183},
{name:"蔡官站",value:257},
{name:"平关站",value:102},
{name:"六龙站",value:21},
{name:"盘州站",value:1318},
{name:"小七孔站",value:50},
{name:"新店站",value:24},
{name:"赤水主线站",value:4344},
{name:"织金洞西站",value:35},
{name:"金碧站",value:33},
{name:"沙井站",value:27},
{name:"石阡北站",value:172},
{name:"遵义南站",value:745},
{name:"石阡站",value:394},
{name:"大地站",value:59},
{name:"乐理站",value:97},
{name:"以那站",value:64},
{name:"福泉南站",value:96},
{name:"荔波东站",value:349},
{name:"福泉北站",value:81},
{name:"平塘东站",value:497},
{name:"福泉东站",value:192},
{name:"贵阳北主线站",value:757},
{name:"枫香站",value:61},
{name:"沙文站",value:848},
{name:"平正站",value:74},
{name:"石板哨站",value:10027},
{name:"南白站（旧）",value:201},
{name:"羊场站",value:98},
{name:"马家湾站",value:3898},
{name:"镇远南站",value:213},
{name:"乌江站",value:81},
{name:"金堡站",value:54},
{name:"三合站",value:355},
{name:"镇远西站",value:70},
{name:"息烽站",value:393},
{name:"小寨坝站",value:125},
{name:"扎佐站",value:1495},
{name:"魏旗站",value:80},
{name:"久长站",value:645},
{name:"幺铺站",value:418},
{name:"卫城站",value:103},
{name:"王庄站",value:43},
{name:"雨冲站",value:28},
{name:"金沙西站",value:55},
{name:"麦格站",value:9},
{name:"大方站",value:916},
{name:"天河潭站",value:299},
{name:"盘江站",value:51},
{name:"贵定站",value:722},
{name:"百里杜鹃站",value:52},
{name:"大学城站",value:5},
{name:"牛郎关站",value:229},
{name:"双山站",value:287},
{name:"东风湖站",value:2},
{name:"响水站",value:24},
{name:"龙里站",value:121},
{name:"孟关站",value:113},
{name:"新仁站",value:56},
{name:"林泉站",value:49},
{name:"英武站",value:430},
{name:"火石岗站",value:131},
{name:"二郎站",value:383},
{name:"桐木岭站",value:842},
{name:"坛厂站",value:128},
{name:"黄果树站",value:425},
{name:"南白站（播州）",value:9},
{name:"镇宁站",value:1067},
{name:"修文站",value:158},
{name:"党武站",value:276},
{name:"仁怀南站",value:132},
{name:"茅台站",value:1155},
{name:"永宁站",value:322},
{name:"泮水站",value:402},
{name:"关岭站",value:789},
{name:"鸭溪站",value:298},
{name:"晴隆站",value:541},
{name:"银水站",value:70},
{name:"大海子站",value:3},
{name:"金沙站",value:310},
{name:"大坝站",value:272},
{name:"岗乌站",value:21},
{name:"普安站",value:675},
{name:"仁怀北站",value:584},
{name:"沙子站",value:205},
{name:"瓮安西站",value:60},
{name:"雷山主线站",value:127},
{name:"独山站",value:1124},
{name:"上司站",value:108},
{name:"新寨主线站",value:4014},
{name:"下司站",value:124},
{name:"摆所站",value:152},
{name:"西江站",value:22},
{name:"麻尾站",value:218},
{name:"黄里站",value:10},
{name:"巴玲站",value:371},
{name:"紫云站",value:473},
{name:"都匀北站",value:704},
{name:"凤山站",value:30},
{name:"黔西站",value:1175},
{name:"马蹄站",value:88},
{name:"都匀南站",value:973},
{name:"板当站",value:76},
{name:"黄丝站",value:17},
{name:"乐运站",value:53},
{name:"闵孝镇站",value:657},
{name:"马场坪站",value:419},
{name:"乐纪站",value:16},
{name:"百层站",value:20},
{name:"坝草站",value:18},
{name:"六桶站",value:1},
{name:"龙场站",value:319},
{name:"墨冲站",value:200},
{name:"太来站",value:1},
{name:"贞丰站",value:493},
{name:"龙塘坳站",value:73},
{name:"石固站",value:65},
{name:"石阡南站",value:280},
{name:"温泉站",value:1},
{name:"兴仁北站",value:836},
{name:"鹿窝站",value:1},
{name:"兴仁东站",value:169},
{name:"遵义北站",value:837},
{name:"遵义站",value:94},
{name:"牛场站",value:180},
{name:"猴场站",value:89},
{name:"瓮安站",value:757},
{name:"洗马站",value:172},
{name:"松坎主线站",value:11128},
{name:"龙里西站",value:2385},
{name:"瓮安南站",value:430},
{name:"三元站(崇)",value:229},
{name:"平定营站",value:75},
{name:"太白站",value:175},
{name:"佛顶山东站",value:43},
{name:"和平站",value:13},
{name:"楚米站",value:178},
{name:"佛顶山西站",value:18},
{name:"余庆东站",value:181},
{name:"桐梓站",value:992},
{name:"西河站",value:48},
{name:"黄平纸房站",value:16},
{name:"观坝站",value:65},
{name:"惠水北站",value:188},
{name:"德江南站",value:211},
{name:"青岩站",value:114},
{name:"合兴站(沿德)",value:72},
{name:"凯里东站",value:2441},
{name:"惠水站",value:1046},
{name:"凯里西站",value:873},
{name:"简家坪站",value:30},
{name:"下司站",value:169},
{name:"麻江站",value:231},
{name:"务川站",value:533},
{name:"涪洋站",value:161},
{name:"贵阳西主线站",value:362},
{name:"清镇东站",value:489},
{name:"东关站",value:90},
{name:"双水站",value:500},
{name:"朱昌站",value:67},
{name:"九洞天站",value:200},
{name:"巴雍站",value:100},
{name:"毛云站",value:30},
{name:"龙岗站",value:138},
{name:"百宜站",value:73},
{name:"大厂站",value:139},
{name:"江西坡站",value:76},
{name:"雨樟站",value:153},
{name:"潘家庄站",value:54},
{name:"长春堡站",value:305},
{name:"野马川站",value:95},
{name:"赫章站",value:963},
{name:"撒拉溪站",value:101},
{name:"黎平北站",value:58},
{name:"新添寨站",value:543},
{name:"杨家湾站",value:117},
{name:"黎平南站",value:594},
{name:"梵净山东站",value:33},
{name:"江口站",value:516},
{name:"坝盘站",value:109},
{name:"铜仁北站",value:300},
{name:"松桃苗王城站",value:602},
{name:"铜仁大兴站",value:26022},
{name:"长顺西站",value:277},
{name:"长顺东站",value:132},
{name:"俄脚站",value:98},
{name:"都格主线站",value:1020},
{name:"笋子林站",value:1465},
{name:"以角站",value:133},
{name:"红桥站",value:3091},
{name:"玉舍站",value:173},
{name:"三岔河站",value:463},
{name:"毕节西站",value:780},
{name:"老鹰山站",value:64}
];



var data1 = [
{name:"兴义东站",value:2747},
{name:"安顺东站",value:2851},
{name:"兴义西站",value:2999},
{name:"红桥站",value:3091},
{name:"马家湾站",value:3898},
{name:"新寨主线站",value:4014},
{name:"赤水主线站",value:4344},
{name:"板坝主线站",value:4613},
{name:"生机主线站",value:5412},
{name:"贵阳东主线站",value:7034},
{name:"胜境关主线站",value:7069},
{name:"大龙主道站",value:8642},
{name:"石板哨站",value:10027},
{name:"松坎主线站",value:11128},
{name:"铜仁大兴站",value:26022}
];

var datatop15 = ['兴义东站','安顺东站','兴义西站','红桥站','马家湾站','新寨主线站','赤水主线站','板坝主线站','生机主线站','贵阳东主线站','胜境关主线站','大龙主道站','石板哨站','松坎主线站','铜仁大兴站'];


var convertData = function (data) {
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
            res.push({
                name: data[i].name,
                value: geoCoord.concat(data[i].value)
            });
        }
    }
    return res;
};

var convertedData = [
    convertData(data),
    convertData(data.sort(function (a, b) {
        return b.value - a.value;
    }).slice(0, 15))
];


option = {
    backgroundColor: '#404a59',
    animation: true,
    animationDuration: 1000,
    animationEasing: 'cubicInOut',
    animationDurationUpdate: 1000,
    animationEasingUpdate: 'cubicInOut',
    title: [
        {
            text: '绿通车出口收费站分布图',
            left: 'center',
            textStyle: {
                color: '#fff'
            }
        },
        {
            id: 'statistic',
            right: 120,
            top: 40,
            width: 100,
            textStyle: {
                color: '#fff',
                fontSize: 16
            }
        }
    ],
    toolbox: {
        iconStyle: {
            normal: {
                borderColor: '#fff'
            },
            emphasis: {
                borderColor: '#b1e4ff'
            }
        }
    },
    brush: {
        outOfBrush: {
            color: '#abc'
        },
        brushStyle: {
            borderWidth: 2,
            color: 'rgba(0,0,0,0.2)',
            borderColor: 'rgba(0,0,0,0.5)',
        },
        seriesIndex: [0, 1],
        throttleType: 'debounce',
        throttleDelay: 300,
        geoIndex: 0
    },
    geo: {
        map: '贵州',
        left: '10',
        right: '35%',
        zoom: 0.6,
        label: {
            emphasis: {
                show: false
            }
        },
        roam: true,
        itemStyle: {
            normal: {
                areaColor: '#323c48',
                borderColor: '#111'
            },
            emphasis: {
                areaColor: '#2a333d'
            }
        }
    },
    tooltip : {
        trigger: 'item'
    },
    grid: {
        right: 40,
        top: 100,
        bottom: 40,
        width: '30%'
    },
    xAxis: {
        type: 'value',
        min: 0,
        scale: true,
        position: 'top',
        boundaryGap: false,
        splitLine: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        axisLabel: {margin: 2, textStyle: {color: '#aaa'}},
    },
    yAxis: {
        type: 'category',
        name: '收费站点TOP15',
		nameTextStyle:
		{
			fontStyle:'italic',
			fontSize:20
		},
        nameGap: 30,
        axisLine: {show: false, lineStyle: {color: '#ddd'}},
        axisTick: {show: false, lineStyle: {color: '#ddd'}},
        axisLabel: {interval: 0, textStyle: {color: '#ddd'}},
		 data:datatop15
    },
    series : [
        {
            name: '收费站点',
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: convertedData[0],
            symbolSize:function (val) {
                return Math.max(val[2] / 800, 1);
            },
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: false
                },
                emphasis: {
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#00CDCD'
                }
            }
        },
        {
            name: 'Top 15',
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: convertedData[1],
            symbolSize: function (val) {
                return Math.max(val[2] / 800, 1);
            },
            showEffectOn: 'emphasis',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#00CDCD',
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            zlevel: 1
        },
        {
            id: 'bar',
            zlevel: 2,
            type: 'bar',
			name:'收费站点：通行量(笔)',
            symbol: 'none',
            itemStyle: {
                normal: {
                    color: '#00CDCD'
                }
            },
			data:data1
        }
    ]
};


// myChart.setOption(option);


if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>
