{% load static %}
<!DOCTYPE html>
<html style="height:100%;width:100%">
<head>

    <meta charset="utf-8">

    <title>ECharts</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<body style="height:100%;width:100%;margin:0;background-color: #404a59">

<div style="height:100%; width: 100%; float: left;color:white">
    <div style="height: 3%; width: 100%;margin-left: 2%">
        &nbsp&nbsp&nbsp&nbsp日期:&nbsp&nbsp<input id="date" type="month" value="2019-01" min="2016-01" max="2019-03" />
        &nbsp&nbsp车型:&nbsp&nbsp
        <select name="aabb" id="vehType">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        &nbsp&nbsp<button type="button" class="btn btn-default" style="white-space:nowrap" id="search">确定</button>
    </div>
    <div id="container1" style="height:97%;width:100%;float:left"></div>
</div>

<!-- ECharts单文件引入 -->
<script type="text/javascript" src="{% static 'echarts.js' %}"></script>
<script src="{% static 'china.js' %}"></script>
<script src="{% static 'province/anhui.js' %}"></script>
<script src="{% static 'province/beijing.js' %}"></script>
<script src="{% static 'province/chongqing.js' %}"></script>
<script src="{% static 'province/fujian.js' %}"></script>
<script src="{% static 'province/gansu.js' %}"></script>
<script src="{% static 'province/guangdong.js' %}"></script>
<script src="{% static 'province/guangxi.js' %}"></script>
<script src="{% static 'province/guizhou.js' %}"></script>
<script src="{% static 'province/hainan.js' %}"></script>
<script src="{% static 'province/hebei.js' %}"></script>
<script src="{% static 'province/heilongjiang.js' %}"></script>
<script src="{% static 'province/henan.js' %}"></script>
<script src="{% static 'province/hubei.js' %}"></script>
<script src="{% static 'province/hunan.js' %}"></script>
<script src="{% static 'province/jiangsu.js' %}"></script>
<script src="{% static 'province/jiangxi.js' %}"></script>
<script src="{% static 'province/jilin.js' %}"></script>
<script src="{% static 'province/liaoning.js' %}"></script>
<script src="{% static 'province/neimenggu.js' %}"></script>
<script src="{% static 'province/ningxia.js' %}"></script>
<script src="{% static 'province/qinghai.js' %}"></script>
<script src="{% static 'province/shandong.js' %}"></script>
<script src="{% static 'province/shanghai.js' %}"></script>
<script src="{% static 'province/shanxi.js' %}"></script>
<script src="{% static 'province/shanxi1.js' %}"></script>
<script src="{% static 'province/sichuan.js' %}"></script>
<script src="{% static 'province/tianjin.js' %}"></script>
<script src="{% static 'province/xinjiang.js' %}"></script>
<script src="{% static 'province/xizang.js' %}"></script>
<script src="{% static 'province/yunnan.js' %}"></script>
<script src="{% static 'province/zhejiang.js' %}"></script>

<script type="text/javascript">
    $("#date").val({{ time|safe }});
    $("#vehType").val({{ vehType|safe }});

    var dom = document.getElementById("container1");
    var myChart = echarts.init(dom);

    var option = null;
    var geoCoordMap = {{ geo|safe }};

    var data = {{ dt|safe }};
    var days = {{ days|safe }};
    var chexing = {{ vehType|safe }};
    var time = {{ time|safe }};

    var convertData = function (data) {
        //console.log(data);

        var res = [];
        for (var i = 0; i < data.length; i++) {
            var dataItem = data[i];
            var fromCoord = geoCoordMap[dataItem[0].name];
            var toCoord = geoCoordMap[dataItem[1].name];
            if (fromCoord && toCoord) {
                res.push({
                    fromName: dataItem[0].name,
                    toName: dataItem[1].name,
                    coords: [fromCoord, toCoord],
                    value: dataItem[1].value,
                });
            }
        }
        return res;
    };

    var dom = document.getElementById("container1");
    var myChart = echarts.init(dom);
    var option = null;

    function addPreZero(num){
        return ('000000000'+num).slice(-2);
    }

        //获取真实车型
    function getVehType(vehCode) {
        if(vehCode == "0"){
            return '小客车';
        }else if(vehCode == "1"){
            return '大中型客车';
        }else if(vehCode == "2"){
            return '1型货车';
        }else if(vehCode == "3"){
            return '2型货车';
        }else if(vehCode == "4"){
            return '3型货车';
        }else if(vehCode == "5"){
            return '4型货车';
        }else if(vehCode == "6"){
            return '5型货车';
        }
    }

    option = {
        baseOption: {
            timeline: {
                // y: 0,
                axisType: 'category',
                // realtime: false,
                // loop: false,
                autoPlay: false,
                // currentIndex: 2,
                playInterval: 2000,
                // controlStyle: {
                //     position: 'left'
                // },
                data: [],
                emphasis:{
                  label:{
                      color:'#fff'
                  }
                },
                label: {
                    color:'#fff',
                    formatter : function(s) {
                        return addPreZero(s);
                    },
                },
            },
        //backgroundColor: '#404a59',
        title: {
            text: {{ province|safe }}+'出行系数',
            subtext:time + "  " + getVehType(chexing),
            left: 'center',
            textStyle: {
                color: '#fff'
            }
        },
        geo: {
            map: {{ province|safe }},
            label: {
                emphasis: {
                    show: false
                }
            },
            roam: true,
            itemStyle: {
                normal: {
                    areaColor: '#323c48',
                    borderColor: '#404a59'
                },
                emphasis: {
                    areaColor: '#2a333d'
                }
            }
        },
        tooltip: {
            trigger: 'item',
            formatter: function (params) {
                //console.log(params['data']);
                var num = params['data']['value'];
                //num = num.toFixed(2);
                var res = 'OD: ' + params['data']['fromName'] + '-' + params['data']['toName'] + '</br>';
                res += '出行系数: ' + num;
                return res;
            },
        },
        },
        options: []
    };

    function obtainData(op, dt){
        var ds = parseInt(days);
        for(var i=1;i<(ds+1);i++){
            var key = addPreZero(i);
            op['baseOption']['timeline']['data'].push(
                {
                    value:key,
                    tooltip: {          // 让鼠标悬浮到此项时能够显示 `tooltip`。
                        formatter: function (params) {
                            return time + '-' + params.name;

                        }
                    }
                },
            );

            op['options'].push(
              {
                visualMap: {
                    left: 'right',
                    min: 20,
                    max: 70,
                    minOpen:true,
                    maxOpen:true,
                    calculable: true,
                    inRange: {
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    },
                    textStyle: {
                        color: '#fff'
                    }
                },
                series: [
                    {
                        name: '货运通道',
                        type: 'lines',
                        zlevel: 1,
                        effect: {
                            show: true,
                            period: 6,
                            trailLength: 0.7,
                            symbolSize: 3
                        },
                        lineStyle: {
                            normal: {
                                width: 0,
                                curveness: 0.2
                            }
                        },
                        data: convertData(dt[key])
                    }, {
                        name: '货运通道',
                        type: 'lines',
                        zlevel: 2,
                        symbol: ['none', 'arrow'],
                        symbolSize: 2,
                        effect: {
                            show: true,
                            period: 6,
                            trailLength: 0,
                            symbolSize: 2
                        },
                        lineStyle: {
                            normal: {
                                width: 3,
                                opacity: 0.6,
                                curveness: 0.2
                            }
                        },
                        data: convertData(dt[key])
                    }
                ]
                }
            );
        }

    }
    window.onload = obtainData(option, data);
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    $("#search").click(
        function () {
            var date = $("#date").val();
            var type = $("#vehType").val();
            location.href = "../../../" + "重庆" + "/" + date + "/" + type;
        }
    );

</script>
</body>
</html><!DOCTYPE html>
